<!-- Home Partial -->


<h2>AngularJS Django-Rest-Framework Seed</h2>

<div class="container">
  <table ng-show="users.length" class="table table-stripped">
    <tr>
      <th>ID</th>
      <th>Username</th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
    </tr>
  </table>
</div>

<div class="container">
  <table ng-show="addresses.length" class="table table-stripped">
    <tr>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="address in addresses">
      <td>{{address.street}}</td>
      <td>{{address.city}}</td>
      <td>{{address.state}}</td>
    </tr>
  </table>
</div>
